header{
    background-color: blue;
    background-image: url(../img/pattern.png);
}

main{
    padding-top: 20px;
}

ul{
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    margin-top: 40px;
    text-align: left;

}

thead{
    color: white;
    background-color: blue;
}

footer{
    background-color: darkblue;
    height: 40px;
}